@import url("https://fonts.googleapis.com/css2?family=Corinthia&display=swap");

* {
  margin: 10px;
  padding: 0;
  box-sizing: border-box;
}
header {
  background-color: rgb(254, 237, 255);
  border-radius: 10%;
  height: 300px;
  width: 90%;
  margin: auto, 0;
  align-items: center;
  margin: 0 auto;
}

.headers {
  font-family: georgia;
}

h1 {
  font-family: Corinthia;
  font-size: 100px;
  font-weight: 100;
  display: inline;
  vertical-align: middle;
  margin: auto, 0;
  text-shadow: #664379, 100px, 100px, 100px;
}
#profile-img {
  height: 200px;
  display: inline-block;
  vertical-align: middle;
  border-radius: 50%;
  opacity: 0.8;
  margin: 0, 0, 0, 10;
}

body {
  background-color: #ebdef0;
  color: #633974;
}

#catImagesDiv {
  width: 95%;
  padding: 0, auto;
  margin: 0, auto;
}

#catImagesDiv > .catImage {
  display: inline-block;
  zoom: 1; /* Trigger hasLayout */
  width: 30%;
}

.catImage {
  height: auto;
  max-height: 200px;
  display: inline-block;
  margin: 20px, 0;
  padding: 0;
}

ol,
ul {
  padding-left: 25px;
  margin: 16px, 0;
  color: #020103;
}

a:link {
  color: #564963;
}
a:visited {
  color: #8a858f;
}
a:hover {
  color: black;
}
a:active {
  color: white;
}
